body{
	background:#fff url(../images/scheme8/bg_slim.jpg) repeat-x;
	}
	
th {
	/* background:#a1ede5 url(../images/highlight_line.gif) repeat-x scroll 0 0; */
	background:#6698FF url(../images/highlight_line.gif) repeat-x scroll 0 0;
}

td.alt {
	background: #d9f9f9 url(../images/highlight_line.gif) repeat-x scroll 0 0;
	color: #797268;
}

th.specalt {
	background: #c0d7f5 url(../images/scheme6/bullet1.gif) no-repeat;
	color: #797268;
}

.button{
	background:#6698FF url(../images/highlight_line.gif) repeat-x top left;
}

.button:hover{
	background:#6698FF;
}